.admin-container {
    padding: 20px;
    text-align: center;
  }
  
  .admin-table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .admin-table th {
    background-color: #4caf50;
    color: white;
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  